/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}


.height100{
    height: 100px;
}
.height200{
    height: 200px;
}
.width100{
    width:100px;
}
.width200{
    width: 200px;
}
/* fonts */
.my_font{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 900 !important;
}
.my_font_display{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 900 !important;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.1);
    letter-spacing: .25em;
    line-height: 150%;
    font-size: 10vw;
}
.my_font_h1{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 700 !important;
    color: var(--sub-color);
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
    letter-spacing: .15em;
    line-height: 150%;
    font-size: 5vw;
}
.my_font_p{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 300 !important;
    color: var(--sub-color);
    /* text-shadow: 1px 1px 1px rgba(0,0,0,.1); */
    letter-spacing: initial;
    line-height: 150%;
    font-size: 4vw;
}
@media (min-width: 768px) {
    h1.my_font_display{
        font-size: 5vw;
    }
    h2.my_font_h1{
        font-size: 3vw;
    }
    p.my_font_p{
        font-size: 2vw;
    }
}
/* universal */
:root{
    --hero_height: 100vh;
    --footer_height: 60vh;
    --intro_height: 200vh;
    --main-color: #A92C3D;
    --sub-color: #787978;
}
.test{
    background-color:rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.2);
}
.test_hl{
    background-color:rgba(255, 0, 0, 0.5);
    border: 1px solid rgba(255,0,0,.8);
}
.my_bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.hero{
    height:var(--hero_height);
}
/* Top */
#top .my_bg.hero{
    background-image: url("../images/home_banner.png");
}
#top .my_bg.intro{
    background-image: url("../images/introduction_back.png");
    /* height:2000px; */
    /* height:var(--intro_height); */
}
#top .my_bg.product{
    background-image: url("../images/product_back.png");
    /* height: var(--hero_height); */
}
#top .customers{
    height: var(--hero_height);
    background-color: thistle;
}
#top .partners{
    height: var(--hero_height);
    background-color: whitesmoke;
}
#top .my_bg.footer{
    background-image:url("../images/footer_back.png");
    height: var(--footer_height);
}
#top .intro_heading{
}
#top .intro_story{
}
#top .intro_ume{
    background-image: url("../images/ume_back.png");
    background-blend-mode: normal;
    height: 50vh;
}
#ume_logo{
    width:50vw;
}
@media (min-width: 768px){
    #ume_logo{
        width:25vw;
    }  
}

#top .intro_story_contd{
}

.rounded_image_square_medium{
    height: 30vh;
    border-radius: 3vw;
    box-shadow: 0px 0px 5vh 0px rgba(0, 0, 0, 0.1)
}
.rounded_image_square_large{
    height: 45vh;
    border-radius: 4vw;
    box-shadow: 0px 0px 5vh 0px rgba(0, 0, 0, 0.1)
}
@media (min-width: 768px){
    .rounded_image_square_medium{
        height: 50vh;
        border-radius: 1.5vw;
        box-shadow: 0px 0px 3vh 0px rgba(0, 0, 0, 0.1)
    }
    .rounded_image_square_large{
        height: 75vh;
        border-radius: 4vw;
        box-shadow: 0px 0px 5vh 0px rgba(0, 0, 0, 0.1)
    }
}
.linkey_image_greater{
    height: 45vh;
    width: 45vh
}
.linkey_image_greater .images_container{
    height: 45vh;
    width: 45vh;
}
.linkey_image_greater .rounded_image_square_medium:nth-child(2){
    display: block;
    position: relative;
    top: -15vh;
    left:15vh;
}
@media (min-width: 768px){
    .linkey_image_greater{
        height: 75vh;
        width: 75vh
    }
    .linkey_image_greater .images_container{
        height: 75vh;
        width: 75vh;
    }
    .linkey_image_greater .rounded_image_square_medium:nth-child(2){
        display: block;
        position: relative;
        top: -25vh;
        left:25vh;
    }
}
.rounded_rect{
    border-radius: 3vw;
}
@media (min-width: 768px){
    .rounded_rect{
        border-radius: 1.5vw;
    }
}
.desc_rounded_rect{
    border-radius: 3vw;
    width: 80vw;
    background-color: white;
    box-shadow: 0px 0px 5vh 0px rgba(0, 0, 0, 0.1);
}
.desc_rounded_rect .desc_heading{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    color:var(--sub-color);
    font-size: 4vw;
}
.desc_rounded_rect .desc_link{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    color:var(--main-color);
    font-size: 4vw;
}
@media (min-width: 768px){
    .desc_rounded_rect{
        width: 30vw;
        border-radius: 1.5vw;
        box-shadow: 0px 0px 3vh 0px rgba(0, 0, 0, 0.1);
    }
    .desc_rounded_rect .desc_heading{
        font-size: 1.8vw;
    }
    .desc_rounded_rect .desc_link{
        font-size: 1.6vw;
    }
}

/*  */
