/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/*  */
.height100{
    height: 100px;
}
.height200{
    height: 200px;
}
.width100{
    width:100px;
}
.width200{
    width: 200px;
}
/* fonts */
.my_font_v2_display{
    font-size: 1.5em;
    font-family:"Hiragino Sans";
    font-weight:800;
    background:-webkit-linear-gradient(left, var(--pink),var(--main-color),var(--orange));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 140%;
}
.my_font_v2_display_sub{
    font-size: 1.5em;
    font-family:"Hiragino Sans";
    font-weight:700;
    color: white;
}
.my_font_v2_heading1_white{
    font-size: 1.4em;
    font-family:"Hiragino Sans";
    font-weight:700;
    color: white;
    line-height: 150%;
}
.my_font_v2_bodyp_white{
    font-size: .8em;
    font-family:"Hiragino Sans";
    font-weight:400;
    color: white;
    line-height: 200%;
}
.my_font_v2_heading3_white{
    font-size: 1em;
    font-family:"Hiragino Sans";
    font-weight:600;
    color: white;
}
.my_font_v2_heading1_compact_white{
    font-size: 1.4em;
    font-family:"Hiragino Sans";
    font-weight:700;
    color: white;
}
.my_font_v2_label_red{
    font-size: 1.1em;
    font-family:"Hiragino Sans";
    font-weight:400;
    color: var(--main-color);
}
.my_font_v2_heading2_pink{
    font-size: 2em;
    font-family:"Hiragino Sans";
    font-weight: 700;
    color: var(--pink);
}
.my_font_v2_heading2_pink_smaller{
    font-size: 1.8em;
    font-family:"Hiragino Sans";
    font-weight: 700;
    color: var(--pink);
    letter-spacing: -.1em;
}
.my_font_v2_bodyp_gray{
    font-size: 1em;
    font-family:"Hiragino Sans";
    font-weight:300;
    color: var(--sub-color);
    line-height: 150%;
}

@media (min-width: 768px){
    .my_font_v2_display{
        font-size: 3.2em;
    }
    .my_font_v2_display_sub{
        font-size: 1.2em;
    }
    .my_font_v2_heading1_white{
        font-size: 2.2em;
    }
    .my_font_v2_bodyp_white{
        font-size: 1em;
    }
    .my_font_v2_heading3_white{
        font-size: 2em;
    }
    .my_font_v2_heading1_compact_white{
        font-size: 2.2em;
    }
}
.my_font_v2_smallp_white{
    font-size: .9em;
    font-family:"Hiragino Sans";
    font-weight:300;
    color: white;
}
.my_button_v2{
    background: linear-gradient(to right, var(--main-color),var(--orange));
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
}
.my_button_v2:hover{
    box-shadow: 0px 0px 10px white;
}
.my_round_light_white{
    border-radius: 20px;
    border: 2px solid white;
}
.my_round_light_primary{
    border-radius: 20px;
    border: 2px solid var(--main-color);
}
.my_round_primary{
    border-radius: 20px;
    background-color: var(--main-color);
}
@media (min-width: 768px){
    .my_round_light_white{
        border-radius: 30px;
    }
    .my_round_light_primary{
        border-radius: 20px;
    }
    .my_round_primary{
        border-radius: 100px;
    }
}
#top .my_bg.hero{
    height:100vh;
    background-position: 35% center;
    background-image:radial-gradient(circle at left 110% top 50%, white 0%, #ffffff00 70%) ,url("../images/background/hero_bg_image.jpg");
}
@media (min-width: 576px) {
    #top .my_bg.hero{
        height:100vh;
        background-image:
        radial-gradient(circle at left 110% top 50%, white 0%, #ffffff00 70%),
        url("../images/background/hero_bg_image.jpg");
    }
}
.bg_2nd{
    background:
    radial-gradient(circle at left 50% bottom 50%, #FFFFFF33 0%, #FFFFFF00 50%),
    radial-gradient(circle at left 50% bottom 0%, var(--pink_pale) 0%, var(--pink_a0) 80%),
    radial-gradient(circle at left 0% top 50%, var(--orange_pale) 0%, var(--orange_a0) 80%),
    radial-gradient(circle at right 0% top 0%, var(--purple_dark_pale) 0%, var(--purple_dark_a0) 80%);
    background-color: var(--main-color);
}
#link_icon_2nd{
    position: relative;
    left: -50%;
}
.whp_heading{
    background: linear-gradient(var(--main-color) 0%, var(--pink) 100%);
    border-radius: 10px;
}
.icon_heading2_pink{
    height:2.2em;
    filter:drop-shadow(0px 0px 10px var(--pink_pale));
}
.my_hr_primary{
    border-top: 1px solid var(--main-color);
}
.scene_image{
    border-radius: 10px;
}
.scene_image_container{
    position: relative;
}
.scene_image_after{
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(120deg, var(--pink), var(--main-color));
    opacity: .2;
    mix-blend-mode: overlay;
}
@media (min-width: 576px) {
    .scene_image, .scene_image_after{
        border-radius: 30px;
    }
}


/*  */
.my_font{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 900 !important;
}
.my_font_display{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 900 !important;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.1);
    letter-spacing: .2em;
    line-height: 150%;
    font-size: 7vw;
}
.my_font_h1{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 700 !important;
    color: var(--sub-color);
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
    letter-spacing: .15em;
    line-height: 150%;
    font-size: 6vw;
}
.my_font_h1.my_font_white{
    color: white;
}
.my_font_h2{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 500 !important;
    color: var(--sub-color);
    letter-spacing: .15em;
    line-height: 150%;
    font-size: 5vw;
}
.my_font_h2.my_font_red{
    color:var(--main-color);
}
.my_font_h2.my_font_white{
    color:white;
}
.hero .my_font_h2{
    color:white;
}
.my_font_h3{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 500 !important;
    color: var(--sub-color);
    letter-spacing: .15em;
    line-height: 150%;
    font-size: 4.5vw;
}
.my_font_h3.my_font_red{
    color:var(--main-color);
}
.my_font_h4{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 500 !important;
    color: var(--sub-color);
    letter-spacing: .1em;
    line-height: 150%;
    font-size: 2vw;
}

.my_font_p{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 400 !important;
    color: var(--sub-color);
    letter-spacing: initial;
    line-height: 180%;
    font-size: 4vw;
}
.my_font_p.my_font_white{
    color:white;
}
.my_font_p_small{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 500 !important;
    color: var(--sub-color);
    letter-spacing: initial;
    line-height: 150%;
    font-size: 3vw;
}
.my_font_caption{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 400 !important;
    color: var(--sub-color);
    letter-spacing: initial;
    line-height: 150%;
    font-size: 3vw;
}
@media (min-width: 768px) {
    .my_font_display{
        font-size: 3vw;
    }
    .my_font_h1{
        font-size: 3vw;
    }
    .my_font_h2{
        font-size: 2vw;
    }
    .my_font_h3{
        font-size: 2.25vw;
    }
    .my_font_p{
        font-size: 1.5vw;
    }
    .my_font_p_small{
        font-size: 1.4vw;
    }
    .my_font_caption{
        font-size:1vw;
    }
}

/* universal */
:root{
    --hero_height: 100vh;
    --footer_height: 60vh;
    --intro_height: 200vh;
    --main-color: #A92C3D;
    --main-color-a0: #A92C3D00;
    --main-color_pale: #A92C3DAA;
    --sub-color: #787978;
    --gradient-black:rgba(2,0,36,.25);
    --gradient-red:rgba(169,44,61,.25);
    --pink: #D66792;
    --pink_pale: #D66792AA;
    --pink_a0: #D6679200;
    --orange: #E06147;
    --orange_pale: #E0614788;
    --orange_a0: #E0614700;
    --purple_dark: #391047;
    --purple_dark_pale: #39104788;
    --purple_dark_a0: #39104700;
}
a:hover, a:focus, a:active{
    outline:none; 
    text-decoration:none;
    color:var(--main-color);
}
.test{
    background-color:rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.2);
}
.test_hl{
    background-color:rgba(255, 0, 0, 0.5);
    border: 1px solid rgba(255,0,0,.8);
}
.my_bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.hero{
    height:var(--hero_height);
}
/* Top */

#top .my_bg.product{
    background-image: url("../images/background/product_back.png");
}
.my_bg.footer{
    background-image:url("../images/background/footer_back.png");
    /* height: var(--footer_height); */
}
#top .intro_ume{
    background-image: url("../images/background/ume_background.svg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50vh;
}
#ume_logo{
    width:50vw;
}
@media (min-width: 768px){
    #ume_logo{
        width:25vw;
    }  
}


.rounded_image_square_medium{
    height: 30vh;
    border-radius: 3vw;
    box-shadow: 0px 0px 5vh 0px rgba(0, 0, 0, 0.1)
}
.rounded_image_square_large{
    height: 45vh;
    border-radius: 4vw;
    box-shadow: 0px 0px 5vh 0px rgba(0, 0, 0, 0.1)
}
@media (min-width: 768px){
    .rounded_image_square_medium{
        height: 50vh;
        border-radius: 1.5vw;
        box-shadow: 0px 0px 3vh 0px rgba(0, 0, 0, 0.1)
    }
    .rounded_image_square_large{
        height: 75vh;
        border-radius: 4vw;
        box-shadow: 0px 0px 5vh 0px rgba(0, 0, 0, 0.1)
    }
}
.linkey_image_greater{
    height: 45vh;
    width: 45vh
}
.linkey_image_greater .images_container{
    height: 45vh;
    width: 45vh;
}
.linkey_image_greater .rounded_image_square_medium:nth-child(2){
    display: block;
    position: relative;
    top: -15vh;
    left:15vh;
}
@media (min-width: 768px){
    .linkey_image_greater{
        height: 75vh;
        width: 75vh
    }
    .linkey_image_greater .images_container{
        height: 75vh;
        width: 75vh;
    }
    .linkey_image_greater .rounded_image_square_medium:nth-child(2){
        display: block;
        position: relative;
        top: -25vh;
        left:25vh;
    }
}
.rounded_my_lg{
    border-radius: 3vw;
    box-shadow: 0px 0px 5vh 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px){
    .rounded_my_lg{
        border-radius: 1vw;
        box-shadow: 0px 0px 3vh 0px rgba(0, 0, 0, 0.1);
    }
}
.desc_rounded_rect{
    border-radius: 3vw;
    /* width: 80vw; */
    background-color: white;
    box-shadow: 0px 0px 5vh 0px rgba(0, 0, 0, 0.1);
}
.desc_rounded_rect .desc_heading{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    color:var(--main-color);
    font-size: 4vw;
}
.desc_rounded_rect .desc_link{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    color:var(--main-color);
    font-size: 4vw;
}
.desc_rounded_rect p{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 500 !important;
    color: var(--sub-color);
    letter-spacing: initial;
    line-height: 180%;
    font-size: 3vw;
}

.desc_rounded_rect .desc_heading_sm{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    color:var(--main-color);
    font-size: 2.5vw;
}
.desc_rounded_rect .desc_link_sm{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    color:var(--main-color);
    font-size: 4vw;
}
.desc_rounded_rect .desc_p_sm{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 500 !important;
    color: var(--sub-color);
    letter-spacing: initial;
    line-height: 180%;
    font-size: 1.2vw;
}
@media (min-width: 768px){
    .desc_rounded_rect{
        /* width: 30vw; */
        border-radius: 1vw;
        box-shadow: 0px 0px 3vh 0px rgba(0, 0, 0, 0.1);
    }
    .desc_rounded_rect .desc_heading{
        font-size: 1.8vw;
    }
    .desc_rounded_rect .desc_link{
        font-size: 1.6vw;
    }
    .desc_rounded_rect p{
        font-size:1.2vw;
    }
    .desc_rounded_rect .desc_heading_sm{
        font-size:1.5vw;
    }
    .desc_rounded_rect .desc_p_sm{
        font-size: 1.5vw;
    }
}
.customer_logo{
    height:25vw;
    width: 25vw;
}

.fab{
    color: var(--sub-color);
    font-size: 5vw;
}
@media (min-width: 768px){
    .fab{
        color: var(--sub-color);
        font-size: 2vw;
    }
}
/* Nav */
.navbar-brand img{
    width:40vw;
}
@media (min-width: 768px){
    .navbar-brand img{
        width:20vw;
    }
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
	background-color: #A92C3D;
	color: white;
	border-color: #A92C3D;
	
} 
.btn-primary:hover{
	background-color: white;
	color: #A92C3D;
	border-color: #A92C3D;
}

/* Linkey */
#linkey .my_bg.hero{
    background-image: linear-gradient(90deg, var(--gradient-black) 0%, var(--gradient-red) 100%),
    url("../images/background/background_linkey_hero.jpg");
}
#linkey .my_bg.overview{
    background-image: url("../images/background/linkey_pro_back.png");
}

.linkey_banner_image{
    max-height:60vh;
    width: auto;
    max-width:80vw;
}
@media (min-width: 768px){
    .linkey_banner_image{
        max-width: 40vw;
    }
}
#linkey .hero{
    height:initial;
}
.my_img_md{
    max-height: 50vh;
}
#linkey .my_bg.points{
    background-image: url("../images/background/characteristic_back.png");
}
.my_img_lg{
    max-width:80vw;
    max-height: 80vh;
}
.my_img_md{
    max-width:40vw;
    max-height: 50vh;
}
@media (min-width: 768px){
    .my_img_lg{
        max-width:40vw;
        /* max-height: 40vh; */
    }
    .my_img_md{
        max-width:20vw;
        /* max-height: 30vh; */
    }
}
#linkey .my_bg.remote_control{
    background-image: url("../images/background/management_back.png");
}
#linkey .my_bg.scenes{
    background-image: url("../images/background/usage_back.png");
}
.install_panel_comp{
    background-image: linear-gradient(90deg, var(--gradient-black) 0%, var(--gradient-black) 100%),
    url("../images/installation/適合診断.jpg");
    background-position: center center;
    background-size: cover;
    max-width:80%;
    min-height: 25vh;
}
.install_panel_howto{
    background-image: linear-gradient(90deg, var(--gradient-black) 0%, var(--gradient-black) 100%),
    url("../images/installation/取り付け方法.jpg");
    background-position: center center;
    background-size: cover;
    max-width:80%;
    min-height: 25vh;
}
.installation .my_font_h2{
    color:white !important;
}

/* .table_header_img{
    width:22vw;
} */

.my_table thead th{
    color:var(--sub-color);
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight:700 !important;
    font-size: 2.8vw ;
    height:22vh;
}
.my_table tbody th{
    color:var(--sub-color);
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight:700 !important;
    font-size: 2.8vw;
}
.my_table tbody td{
    color:var(--sub-color);
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight:500 !important;
    font-size: 2.8vw;
}
@media (min-width: 768px){
    .my_table thead th{
        height:12vh;
        font-size:2vh;
    }
    .my_table tbody th{
        font-size:2vh;
    }
    .my_table tbody td{
        font-size:1vw;
    }
}
.my_table tbody tr{
    height:10vh;
}
.my_bg_banner_gradient_hor{
    background: linear-gradient(90deg, black -20%, var(--main-color) 120%);
    /* background-position: center center;
    background-size: cover; */
}
.my_bg_banner_gradient_rad{
    background: linear-gradient(315deg, black -20%, var(--main-color) 120%);
    /* background-position: center center;
    background-size: cover; */
}
.trisection{
    min-height:75vw;
}
@media (min-width: 768px){
    .trisection{
        min-height:initial;
    }
}
.bg_red{
    background-color: var(--main-color);
}
.my_bg_heading_gradient{
    background: linear-gradient(90deg, var(--main-color) 0%, var(--main-color-a0) 100%);
}
@media (min-width: 768px){
    .my_bg_heading_gradient{
        background: linear-gradient(90deg, var(--main-color) 0%, var(--main-color-a0) 70%);
    }
}
.my_bg_heading_gradient_rev{
    background: linear-gradient(90deg, var(--main-color-a0) 0%, var(--main-color) 100%);
}
@media (min-width: 768px){
    .my_bg_heading_gradient_rev{
        background: linear-gradient(90deg, var(--main-color-a0) 30%, var(--main-color) 100%);
    }
}
.trisection_circle{
    height:4vh;
}
.my_inset_shadow{
    box-shadow: inset 0px 0px 10px rgba(0,0,0,.1);
}
/*  */
